body {
	padding: 0;
	height: 100%;
}

#main {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 5px;
	padding-bottom: 0;
}

#library_search h4 {
	margin: 15px 0 0 0;
	padding: 0;
}

#library_filter {
    float: right;
    margin-right: 1.5%;
}

.clearboth {
    clear: both;
}

.ui-dialog {
    background-size: 100% 100%;
}

#playing {
	width: 33%;
	float: right;
	height: 100%;
	overflow-y: auto;
}

#library-holder {
	float: left;
	height: 100%;
	width: 66%;
	overflow-y: auto;
	overflow-x: hidden;
}

.libraries {
	text-align: left;
	margin-bottom: 5px;
}

.album,.artist {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: left;
	display: inline-block;
	width: 31.8%;
	margin: 0.5% 0.5% 0 0;
	min-height: 100px;
	vertical-align: top;
	min-width: 100px;
	position: relative;
}
.artist {
	padding-left: 5px;
	background-repeat: repeat-x;
	background-position: left top;
}

.album h3,.artist h3 {
	margin: 0;
	font-size: 1em;
}
.album h4,.artist h4 {
	margin: 0;
	font-size: 0.8em;
	font-style: oblique;
	font-weight: normal;
}

.album img {
	padding-right: 5px;
	width: 100px;
	height: 100px;
	float: left;
}

.artist img {
	float: right;
	padding-left: 5px;
	height: 100px;
	max-width: 40%;
}

.foldout ul li {
	list-style-type: none;
	overflow: hidden;
	margin-bottom: 5px;
}

.foldout {
	float: left;
	width: 100%;
	text-align: left;
	font-size: 1em;
}

.foldout ul {
	columns: 3;
	-webkit-columns: 3;
	-moz-columns: 3;
}

.foldout .album {
	width: 99%;
}

@media screen and (max-width: 1040px) {
	.album,.artist {
		width: 47.5%;
	}
	.foldout ul {
		columns: 2;
		-webkit-columns: 2;
		-moz-columns: 2;
	}
}

@media screen and (max-width: 600px) {
	.album,.artist {
		width: 98.5%;
	}
	.foldout ul {
		columns: 1;
		-webkit-columns: 1;
		-moz-columns: 1;
		font-size: 0.9em;
	}
}

#library_options {
	float: left;
}

#status #current_song {
	margin: 0;
}
#status #current_artist {
	margin-bottom: 5px;
}

#playlist-container {
	margin-top: 20px;
}
#playlist-container > h4 {
	display: inline;
}
#playlist-container, #status {
	text-align: center;
}
#playlist-container h4, #status h4 {
	margin: 0;
}
#playlist {
	display: block;
}
#playlist ul { list-style-type: none; text-align: left; }
#playlist h3 { padding: 5px; margin: 0; float: left; }
#playlist h4 { padding: 5px; margin: 0; float: right; }

#playlist .head h3 a {
	display: inline-block;
	padding-right: 5px;
}

#playheadTime {
	float: left;
}
#playheadTotal {
	float: right;
}

#controls {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#controls li {
	display: inline-block;
	margin: 2px;
	padding: 4px;
}

#controls_vol_slider {
	margin: 0 !important;
	margin-left: 10px !important;
	font-size: 10px;
	width: 100px;
}